<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metalang4md -->
      <package
            uri="http://www.inf.ufg.br/metalang4md"
            class="br.ufg.inf.metalang4md.Metalang4mdPackage"
            genModel="src/main/resources/model/metalang4md.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testing -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/testing"
            class="testing.TestingPackage"
            genModel="src/main/resources/model/metamodel/testing/testing.genmodel"/>
   </extension>

</plugin>
